@font-face {
  font-family: 'stm-icon';
  src:  url('fonts/stm-icon.eot?1e8vaa');
  src:  url('fonts/stm-icon.eot?1e8vaa#iefix') format('embedded-opentype'),
    url('fonts/stm-icon.ttf?1e8vaa') format('truetype'),
    url('fonts/stm-icon.woff?1e8vaa') format('woff'),
    url('fonts/stm-icon.svg?1e8vaa#stm-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.stm-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'stm-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.stm-icon-cart:before {
  content: "\e936";
}
.stm-icon-search2:before {
  content: "\e935";
}
.stm-icon-chat:before {
  content: "\e932";
}
.stm-icon-folder:before {
  content: "\e933";
}
.stm-icon-user:before {
  content: "\e934";
}
.stm-icon-quotes:before {
  content: "\e931";
}
.stm-icon-media-loupe:before {
  content: "\e930";
}
.stm-icon-web-address:before {
  content: "\e92f";
}
.stm-icon-location:before {
  content: "\e92e";
}
.stm-icon-square:before {
  content: "\e92d";
}
.stm-icon-clip:before {
  content: "\e92c";
}
.stm-icon-basket:before {
  content: "\e92b";
}
.stm-icon-arrow-bottom-left:before {
  content: "\e928";
}
.stm-icon-arrow-top-right:before {
  content: "\e929";
}
.stm-icon-check:before {
  content: "\e926";
}
.stm-icon-times:before {
  content: "\e927";
}
.stm-icon-times-thin:before {
  content: "\e92a";
}
.stm-icon-water-polo:before {
  content: "\e919";
}
.stm-icon-american-football:before {
  content: "\e91a";
}
.stm-icon-rugby:before {
  content: "\e91b";
}
.stm-icon-hockey:before {
  content: "\e91c";
}
.stm-icon-baseball:before {
  content: "\e91d";
}
.stm-icon-cricket:before {
  content: "\e91e";
}
.stm-icon-softball:before {
  content: "\e91f";
}
.stm-icon-swimming:before {
  content: "\e920";
}
.stm-icon-chess:before {
  content: "\e921";
}
.stm-icon-volleyball:before {
  content: "\e922";
}
.stm-icon-tennis:before {
  content: "\e923";
}
.stm-icon-diving:before {
  content: "\e924";
}
.stm-icon-basketball:before {
  content: "\e925";
}
.stm-icon-arrow-right:before {
  content: "\e907";
}
.stm-icon-check-list:before {
  content: "\e916";
}
.stm-icon-pc:before {
  content: "\e917";
}
.stm-icon-file-folder:before {
  content: "\e918";
}
.stm-icon-play:before {
  content: "\e915";
}
.stm-icon-alarm-clock:before {
  content: "\e910";
}
.stm-icon-right-triagle:before {
  content: "\e90e";
}
.stm-icon-quote-bottom:before {
  content: "\e90c";
}
.stm-icon-quote-top:before {
  content: "\e90d";
}
.stm-icon-girl:before {
  content: "\e908";
}
.stm-icon-book:before {
  content: "\e909";
}
.stm-icon-build:before {
  content: "\e90a";
}
.stm-icon-certificate:before {
  content: "\e90b";
}
.stm-icon-diamond:before {
  content: "\e90f";
}
.stm-icon-envelope:before {
  content: "\e913";
}
.stm-icon-instagram:before {
  content: "\e914";
}
.stm-icon-window:before {
  content: "\e911";
}
.stm-icon-skype:before {
  content: "\e912";
}
.stm-icon-calendar:before {
  content: "\e906";
}
.stm-icon-clock:before {
  content: "\e901";
}
.stm-icon-mail:before {
  content: "\e902";
}
.stm-icon-printer:before {
  content: "\e903";
}
.stm-icon-iphone:before {
  content: "\e904";
}
.stm-icon-globe:before {
  content: "\e905";
}
.stm-icon-search:before {
  content: "\e900";
}